
$primary-color: #000 !default;
$secondary-color: #E62800 !default;
$button-color: $primary-color !default;
$button-text-color: #FFF !default;
$black: #000 !default;
$orange: #d85912 !default;
$grey: #a0a0a0 !default;